# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.qual
.pytest_cache/

# Environment variables & secrets
.env
*.env
!.env.example

# Virtual environments
venv/
env/
ENV/
env.bak/
venv.bak/

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo

# Database & Docker storage
*.sqlite3
*.db
pgdata/
redisdata/
